<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit username</title>
</head>
<body>
    <h2>Edit username</h2>
    <h3>Current username: <%=user.email%></h3>
    <form action="/user/<%=user.id%>?_method=patch" method="post">
        <textarea name="username" id="username"><%=user.username%></textarea>
        <input type="password" name="password" placeholder="password" required>
        <button>Edit</button>
    </form>
</body>
</html>