<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>WELCOME</h1>
    <p>The number of users are: <%= count %> </p>
    <a href="/user/new">JOIN US NOW</a>
    <a href="http://localhost:3000/user">users</a>
</body>
</html>