h1{
    color: aquamarine;
    margin-left: 10px;
}
a{
    text-decoration: none;
    color: black;
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}
header{
    height: 20vh;
}

body{
    background-color: black;
    color: white;
}

.username{
    font-style: italic;
}
.content{
    font-size: 18px;
}

.post{
    margin: 5px;
    padding: 5px;
    border: 2px solid #333;
}
form{
    margin: 10px;
}